<?xml version="1.0"?>
<config>
    <modules>
        <Themevast_Categoryproduct>
            <version>0.1.0</version>
        </Themevast_Categoryproduct>
    </modules>
    <frontend>
        <routers>
            <categoryproduct>
                <use>standard</use>
                <args>
                    <module>Themevast_Categoryproduct</module>
                    <frontName>categoryproduct</frontName>
                </args>
            </categoryproduct>
        </routers>
        <layout>
            <updates>
                <categoryproduct>
                    <file>themevast/categoryproduct.xml</file>
                </categoryproduct>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<categoryproduct>
				<use>admin</use>
				<args>
					<module>Themevast_Categoryproduct</module>
					<frontName>categoryproduct</frontName>
				</args>
			</categoryproduct>
        </routers>
    </admin>
    <global>
        <blocks>
            <categoryproduct>
                <class>Themevast_Categoryproduct_Block</class>
            </categoryproduct>
        </blocks>
        <helpers>
            <categoryproduct>
                <class>Themevast_Categoryproduct_Helper</class>
            </categoryproduct>
        </helpers>
    </global>
	<default>
		<categoryproduct>
			<general>
			    <enabled>1</enabled>
			    <title>Category product</title>
                <description>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</description>
                <slide>1</slide>
                <autoPlay>0</autoPlay>
                <navigation>1</navigation>
                <pagination>0</pagination>
                <slideSpeed>600</slideSpeed>
                <stopOnHover>1</stopOnHover>
                <rows>1</rows>
                <loop>1</loop>   
                <responsive>0:{items:1},600:{items:3},1000:{items:4}</responsive>
                <margin>30</margin>
			    <price>1</price>
			    <cart>1</cart>
			    <wishlist>1</wishlist>
			    <compare>1</compare>
			    <review>1</review>
			    <qty>4</qty>
			    <widthImage>270</widthImage>
			    <heightImage>270</heightImage>
			</general>
		</categoryproduct>
	</default>
</config>

