
body {
    color:#!important;
    font: !important;
    font-family:!important;
    text-align: left;
}
.header-wrapper{
    background: #!important;
}      
.footer-wrapper{
    background: none repeat scroll 0 0  #!important;
}
        